@use "../../sass/variables" as *;

.overlay {
    background: #0000006b;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.modalContainer {
    align-items: center;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 300px;
    position: relative;
}
.closeBtn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    padding: 10px;
    font-size: 1.5rem;
}